<!-- <app-dashboard></app-dashboard> -->
<div class="container mt-4">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Day</th>
                <th>IN-Time</th>
                <th>OUT-Time</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Monday</td>
                <td>9:30am</td>
                <td>5:530pm</td>
                <td>12-12-2012</td>

            </tr>
        </tbody>
    </table>
</div>